.fontsize12 { font-size: 12px }
.fontsize14 { font-size: 14px }
.fontsize16 { font-size: 16px }
.fontsize18 { font-size: 18px }
.fontsize20 { font-size: 20px }
.fontsize22 { font-size: 22px }
.fontsize24 { font-size: 24px }
.fontsize30 { font-size: 30px }

.ml5 {margin-left: 5px;}
.mr5 {margin-right: 5px;}
.mt5 {margin-top: 5px;}
.mb5 {margin-bottom: 5px;}

.ml2 {margin-left: 2px;}
.mr2 {margin-right: 2px;}
.mt2 {margin-top: 2px;}
.mb2 {margin-bottom: 2px;}

.ml10 {margin-left: 10px;}
.mr10 {margin-right: 10px;}
.mt10 {margin-top: 10px;}
.mb10 {margin-bottom: 10px;}
.ml15 {margin-left: 15px;}
.mr15 {margin-right: 15px;}
.mt15 {margin-top: 15px;}
.mb15 {margin-bottom: 15px;}
.ml20 {margin-left: 20px;}
.mr20 {margin-right: 20px;}
.mt20 {margin-top: 20px;}
.mb20 {margin-bottom: 20px;}
.ml24 {margin-left: 24px;}
.mr24 {margin-right: 24px;}
.mt24 {margin-top: 24px;}
.mb24 {margin-bottom: 24px;}



.ta-l {text-align: left;}
.ta-c {text-align: center;}
.ta-r {text-align: right;}

.bold {font-weight: bold;}

.blue{color: rgb(57, 132, 243)}
.main-color {color: $mainColor;}
.main-bg {background-color: $mainColor;}
.lineH20 {line-height: 20px}
.pointer {cursor: pointer;}
.hover {
  &:hover{
    color: $mainColor;
  }
}
.white {color: #ffffff}
.btn {
    width: 200px;
}
.wire{
    border-left:1px solid #d9d9d9;
     border-right:1px solid #d9d9d9;
  }

  
